/* Relate to header row at main contractor grid. */
.contractor-grid-headers {
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 5px;
    background-color: #3c9ff0;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
}

/* Relate to main contractor grid that also hosts the bank account grid. */
.contractor-bank-account-grid {
    font-weight: 600;
}

/* Relate to bank account grid. Specify other style than main grid. */
.bank-account-grid {
    font-weight: normal;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.9em;
}

